{% extends "layout/layout.twig" %}

{% block title %}申シ訳アリマセン{% endblock %}
{% block header_scripts_add %}
{% endblock %}

{% block page_content %}
    <div class="page-header text-center">
        <h2>何カ問題ガ</h2>
        <h2>発生シタヨウデス</h2>
    </div>
    <div class="container">
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}