{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}ハジメ{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
    <style>
        .pageNav04c {
        / zoom: 1;
            position: relative;
            overflow: hidden;
            margin: 0 0 10px;
            padding: 10px;
            background-color: rgba(255, 0, 0, 0);
        }


        .pageNav04c ul {
            position: relative;
            left: 50%;
            float: left;
            list-style: none;
        }

        .pageNav04c ul li {
            position: relative;
            left: -50%;
            float: left;
            margin: 0;
        }

        .pageNav04c li span,
        .pageNav04c li a {
            display: inline-block;
            margin: 0 1px 1px 0;
            padding: 1px 8px;
            background: #590416;
            border: 1px solid #590416;
            text-decoration: none;
            vertical-align: middle;
            color: #FFFFFF;
        }

        .pageNav04c li a:hover {
            background: #eeeff7;
            border-color: #590416;
            color: gray;
        }
    </style>
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div style="background-image: url('/assets/img/border.jpg');background-repeat:repeat-x;height:100px;">
    </div>

    <div class="page-header text-center">
        <h1>せぴあ</h1>
    </div>
    <div class="container">
        <div class="box">
            <br/><br/>
            <div class="row">
                <div class="col text-center">ココデハ色々ナ写真ガ見ラレマス。<br/></div>
            </div>
            <div class="row">
                <div class="col text-center">オ気ニ入リノ写真ニ触レテクダサイ<br/></div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col text-center">参加人数を選んで下さい</div>
            </div>

            <div class="row">
                <div class="col">
                </div>
                <div class="col text-center">
                    <form method="get" action="">
                        <div class="form-group text-center">
                            <select name="member" class="form-control" id="member_count">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}">{{ i }}人</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p>
                            <i class="fas fa-user-friends"></i>
                            <input type="submit" value="探ス" class="btn btn-dark">
                        </p>
                    </form>
                </div>
                <div class="col">
                </div>
            </div>

            {# ここに動的にロードされた画像が出ます。#}
            <div id="contents_list_area">
            </div>

            {#ローディングボタン最初は非表示で行く#}
            <div class="st-Loading_More text-center" style="display: none">
                <div>
                    <img src="/assets/img/loading.jpg" width="100">
                </div>
            </div><!--/.st-Loading-Ball-->
            {#ローディングボタンここまで#}

            <div class="pageNav04c">
                <ul>
                    <li><a href="">壱</a></li>
                    <li><a href="">弐</a></li>
                    <li><a href="">参</a></li>
                    <li><a href="">四</a></li>
                    <li><a href="">伍</a></li>
                    <li><a href="">陸</a></li>
                    <li><a href="">次 &raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}
    <script>

        {# 読み込み中ステータスかどうかを持つフラグ #}
        let loading = false;

        //画面がロードされたら
        $(document).ready(function () {

            //メンバ数のプルダウンが変更されたとき
            $("#member_count").change(function () {

                {# ローディングステータスにする #}
                loading = true;

                {# ローディングボタンを表示 #}
                $(".st-Loading_More").css('display', 'block');

                //エンドポイントにリクエストを投げる
                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: "/api/reviews",
                    data: {
                        member: $("#member_count").val(),
                        page: 0 //この部分未実装
                    }

                }).done(function (result) {

                    let html = "";
                    let count = 1;

                    html += '<div class="row">';

                    $(result).each(function (index, element) {
                        html += '<div class="col text-center">' +
                            '<a href="/tours/' + element.id + '">' +
                            '<img src="' + element.image_url + '" class="img-fluid" style="width:100%">' +
                            '</a>' +
                            '</div>';

                        if (count % 2 == 0) {
                            html += '</div><div class="row">&nbsp;</div>';
                            html += '<div class="row">';
                        }

                        count++;
                    });

                    {# 画像を表示します。 #}
                    $("#contents_list_area").html(html);

                    {# ロード済みにする #}
                    loading = false;

                    {# ローディングボタンを隠す #}
                    $(".st-Loading_More").css('display', 'none');

                }).fail(function (ex) {

                    {# ロード済みにする #}
                    loading = false;
                });
            })
        })
    </script>
{% endblock %}
