{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}ハジメ{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}

{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
  <div style="background-image: url('/assets/img/border.jpg');background-repeat:repeat-x;height:100px;">

  </div>
    <div class="page-header text-center">
        <h1>せぴあ</h1>
    </div>
    <div class="container">
        <div class="box">
          <br /><br />
            <div class="row">
              <div class="col text-center">
                ココデハ色々ナ写真ガ見ラレマス。<br />
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                オ気ニ入リノ写真ニ触レテクダサイ<br />
              </div>
            </div>





            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
