{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}

{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
  <div style="background-image: url('/assets/img/border.jpg');background-repeat:repeat-x;height:100px;">

  </div>
    <div class="page-header text-center">
        <h3>以下のフォームに記入してください</h3>
    </div>
    <div class="container">
        <div class="box">
          <br /><br />
            <div class="row">
              <div class="col">
              </div>
              <div class="col text-center">
                <form method="post" action="/tours/{{tour_id}}/reserving/update/">
                  <div class="form-group text-center">
                    <p>お名前</p>
                    <input type="text" name="cs_name">
                    <p>出発日</p>
                    <input type="date" name="departure_date">
                    <p>電話番号</p>
                    <input type="text" name="tell">
                    <p>返金方法</p>
                    <select name="refund_method" class="form-control">
                      <option value="1">現金</option>
                      <option value="2">口座振り込み</option>
                    </select>
                    <p>キャッシュバック額</p>
                    <input type="number" name="refund_amount">
                    <p>店舗番号</p>
                    <input type="number" name="agent_store_id">

                  </div>
                  <p>
                    <i class="fas fa-user-friends"></i>
                    <input type="submit" value="送信" class="btn btn-dark">
                  </p>
                </form>
              </div>
              <div class="col">
              </div>
            </div>

            <!--ここから画像表示  -->


            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
