{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}ヨヤク{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}

{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
  <div style="background-image: url('/assets/img/border.jpg');background-repeat:repeat-x;height:100px;">

  </div>
    <div class="page-header text-center">
        <h3>以下のフォームに記入してください</h3>
    </div>

    <div class="container">
        <div class="box">
          <br /><br />
            <div class="row">
              <div class="col">
              </div>
              <div class="col">
                <form method="post" action="/tours/{{tour_id}}/reserving/update/">
                  <div class="form-group">
                    <label>お名前</label>
                    <input type="text" name="cs_name" class="form-control" placeholder="例:ふくもとセレス">
                    <label>出発日</label>
                    <input type="date" name="departure_date" class="form-control">
                    <label>電話番号</label>
                    <input type="text" name="tell" class="form-control" placeholder="例:11122223333">
                    <label>返金方法</label>
                    <select name="refund_method" class="form-control">
                      <option value="1">現金</option>
                      <option value="2">口座振り込み</option>
                    </select>
                    <label>キャッシュバック額</label>
                    <input type="number" name="refund_amount" class="form-control">
                    <label>店舗番号</label>
                    <input type="number" name="agent_store_id" class="form-control">

                  </div>
                  <p>
                    <i class="fas fa-user-friends"></i>
                    <input type="submit" value="送信" class="btn btn-dark">
                  </p>
                </form>
              </div>
              <div class="col">
              </div>
            </div>

            <!--ここから画像表示  -->


            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
